babel
beautifulsoup4
openai
py3dmol
chembl-webresource-client
requests==2.31.0
rdkit==2023.9.6
requests==2.31.0
stmol
streamlit==1.35.0
streamlit-ketcher==0.0.1
streamlit-molstar==0.4.21
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-openai==0.1.7
